<?php

if($this->getSetting('enabled')): ?>
    <?php
    $_product = $this->getCurrentProduct();
    $_sku     = '';
    $showEmptyStars = $block->showEmptyStars();

    if ($_product)
        $_sku = $_product->getSku();


    ini_set('default_socket_timeout', 3);
    $contents = @file_get_contents( 'https://www.shopperapproved.com/feeds/schema-product.php?siteid='.$this->getSetting('account').'&token='.$this->getSetting('token').'&product='.$_sku );
    echo $contents;
    ?>

    <div class="box-collateral">
        <div class="box-title"><h2>Product Reviews</h2></div>
        <div class="std">
            <script type="text/javascript">
                var sa_products_count = 3;
                var sa_date_format = 'F j, Y';
                var sa_product = '<?php echo $_sku; ?>';
                function saLoadScript(src) {
                    var js = window.document.createElement("script");
                    js.src = src; js.type = "text/javascript";
                    document.getElementsByTagName("head")[0].appendChild(js);
                }
                saLoadScript('https://www.shopperapproved.com/product/<?php echo $this->getSetting('account');?>/'+sa_product+'.js');
            </script>
            <div id="review_header"></div>
            <div id="product_page"></div>
            <div id="merchant_page"></div>
            <div id="review_image">
                <a href="http://www.shopperapproved.com/reviews/<?php echo $this->getHostName();?>/" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; var certheight=screen.availHeight-90; window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); return false;" target="_blank" rel="nofollow"></a>
            </div>
        </div>
    </div>
<?php endif ?>