<?php
if($this->getSetting('enabled')):
    $showEmptyStars = $this->showEmptyStars();
    $product = $this->getCurrentProduct();

    //Make sure our product exists
    if (!$product)
        return;

    $sku = $product->getSku();
?>

<div class="star_container <?php echo $sku; ?>">
    <?php if ($showEmptyStars): ?>
        <div id="sa_grp_<?php echo $sku; ?>" class="group-stars">
            <?php for ($i = 1; $i <= 5; $i++): ?>
                <span class="on"></span>
            <?php endfor; ?>
        </div>
    <?php endif; ?>
</div>
<?php endif; ?>