<?php

if($this->getSetting('enabled')):
$product = $this->getCurrentProduct();
$sku     = '';

if ($product)
    $sku = $product->getSku();

$showEmptyStars = $this->showEmptyStars();
?>

<div id="product_just_stars" class="reg">
    <?php if ($showEmptyStars):
        //Shopper Approved manufacturer fallback javascript likes to add the backround image then display: none only on single product pages
        //This content is replaced by the correct combination of on/off/half stars and no inline styling when there is at least one product review
        ?>
        <?php for ($i = 1; $i <= 5; $i++): ?>
            <span class="on" style="display:inline-block"></span>
        <?php endfor; ?>
    <?php endif; ?>
</div>
<script type="text/javascript"> var sa_product = '<?php echo $sku; ?>'; (function(w,d,t,f,o,s,a){ o = 'shopperapproved'; if (!w[o]) { w[o] = function() { (w[o].arg = w[o].arg || []).push(arguments) }; s=d.createElement(t), a=d.getElementsByTagName(t)[0];s.async=1;s.src=f;a.parentNode.insertBefore(s,a)} })(window,document,'script','https://www.shopperapproved.com/product/<?php echo $this->getSetting('account');?>/'+sa_product+'.js'); </script>
<?php endif; ?>