<?php if($this->getSetting('enabled')): ?>
    <script type="text/javascript">
        var sa_products = {};
        <?php
        $registry    = $this->getRegistry();
        $incrementId = $this->getSetting('orderid');
        $token       = $this->getSetting('merchant');
        $accountId   = $this->getSetting('account');
        $order       = $this->loadOrder($incrementId);

    if($incrementId && $order && $order->getId() && !$registry->registry('added_sa_approved_success_js')):
        //Prevent offering the survey if the checkout success page is shown outside of order completion
        $registry->register('added_sa_approved_success_js', true );
        $orderValue = number_format($order->getGrandTotal(), 2, '.' , '');
        $orderItems = $order->getItemsCollection();
        $customername = $order->getCustomerName();
        $customeremail = $order->getCustomerEmail();

        foreach ($orderItems as $item): ?>
            sa_products["<?php echo $item->getSku();?>"] = <?php echo json_encode($item->getName());?>;
        <?php endforeach; ?>
    </script>

    <script type="text/javascript"> var sa_values = { 'site':<?php echo $accountId; ?>, 'orderid':'<?php echo $incrementId; ?>', 'name':'<?php echo $customername ?>', 'email':'<?php echo $customeremail ?>', 'emailAll':1 }; sa_values['token']="<?php echo $token; ?>"; function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } var d = new Date(); if (d.getTime() - 172800000 > 1458239592000) saLoadScript("https://www.shopperapproved.com/thankyou/rate/<?php echo $accountId; ?>.js"); else saLoadScript("//direct.shopperapproved.com/thankyou/rate/<?php echo $accountId; ?>.js?d=" + d.getTime()); </script>
    <?php endif; ?>
<?php endif; ?>